<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
    <appSettings>
!! System specific configuration
    <add name="system"
		jobname=""
		description=""
		logname=""
		cleanArchive=""
		filepath=""
	/>
	<add name="moves">
		<add name="move1"
			description="FTP File Download for xyz"
			enabled="true"
			ftp="true"
			filepattern="*"
			type=""
			host=""
			protocol=""
			username=""
			sshfingerprint=""
			password=""		
			source=""
			destination=""
			proxyenabled=""
		>
		</add>	
		<!-- The source custom below carries out a number of defined actions against source folder -->
		<add name="move2"			
			description=""			
			filepattern=""
			source=""			
			destination=""
			archive=""						
		>
			<add name = "actions">
				<add enabled="true" name="rename1" type="rename" source="" target=""/>
				<add name="rename2" type="rename" source="" target=""/>
				<add name="rename3" type="rename" source="" target=""/>
			</add>
		</add>		
		</add>		
	</add>	
    </appSettings>
</configuration>